<%- include('partials/header.ejs') -%>
  <body>
     <ul class="list-group">

        <li class="list-group-item" >
            <a href="localhost:8080/invest">Investimentos</a>
            <a href="http://">Relatórios</a>
            <a href="http://">Sair</a>
        </li>

     </ul>
  </body>
<%- include('partials/footer.ejs') -%>