<%- include('partials/header.ejs') -%>
  <body>
    <div class="container">

      <div class="navbar">
            <a href="/itens">Controle de Itens <i class="fa-solid fa-address-book"></i></a>
            <a href="http://">Relatórios <i class="fa-solid fa-list"></i></a>
            <a href="http://">Sair</a>
      </div>
    
  </body>
<%- include('partials/footer.ejs') -%>