<%- include('../partials/header')-%>

<h1>cadastro de usuario</h1>
<form action="/usuario/cadastrar" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="senha">Senha:</label>
    <input type="password" name="senha" required>
    <button type="submit">Cadastrar</button>
  </form>
  

<%- include('../partials/footer')-%>