<%- include('../partials/header')-%>
 
<form action="/login" method="POST">
     <label for="email">Email:</label>
     <input type="email" name="email" required>
     <label for="senha">Senha:</label>
     <input type="password" name="senha" required>
     <button type="submit">Entrar</button>
   </form>
   
<%- include('../partials/footer')-%>